{% extends "entries/index.html" %}
{% load static %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'img/about.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">Who am I?</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Born and bred Mumbaikar. Travelling to different places is my goal.</p>

            <p>Join me on my travel diaries, as I explore different cities on a budget and still manage to eat and drink everything!</p>

            <p>Explore with me the culture, the food (especially the food), the people of the World.</p>
        </div>
    </div>
</div>
{% endblock %}



